<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

  <display-name>Shortener FCE UNLP</display-name>
  
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>ar.com.dcsys.server.ControllerServlet</servlet-class>
	</servlet>	

	<servlet>
		<servlet-name>Shorten</servlet-name>
		<servlet-class>ar.com.dcsys.server.shortener.ShortenServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Redirect</servlet-name>
		<servlet-class>ar.com.dcsys.server.shortener.RedirectServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>Shorten</servlet-name>
		<url-pattern>/shorten</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	  
</web-app>
